html, body {
    margin: 0;
    padding: 0;
    background-color: #469765;
  
    text-align: center;
    text-decoration: rgb(38, 126, 78);
  }
  main{
    position: absolute;
  
    right: 150px;
    padding: 150px;
  }
  canvas {
    display: block;
  }
  main{
    position: absolute;
    top: 350px;
    left: 100px;
  }