body{
    background-color: rgb(255, 0, 157);
}
header{

    background: #cba6cf;
    padding: 20px 0;
}

.caixa{position: -ms-page;
    width: 600px;
    margin: 0 auto;
}

nav {

   position: absolute;
   top:110px;
   right: 0;
}

nav li {
     display: inline;
     margin: 0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    color:#000000;
    font-weight:bold;
    font-size: 22px;
    text-decoration: none;
}


nav a:hover {

    color: hs1(258, 96%, 51%);
    text-decoration: underline;
}
footer{
    background-color: rgb(255, 0, 157);
    text-align: center;
    padding: 40px 0;
}

.copyrigth {
    color: #000000;
    font-size: 13px;
    margin: 20px 0 0;
}

main{
    width: 940px;
    margin: 0 auto;
}
